#truc {
    width: 100%;
    height: 100%;
    background-color: rgb(211, 211, 211);
}
#footer {
    width: 100vw;
    position: relative;
}

#wavy {
    position: absolute;
    background-color: rgba(230, 230, 230);
    width: 100%;
    height: 100%;
    z-index: 1;
}

