#bmax1{
    width: 100vw;
    height: 40;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
}
#bmax2{
    position: absolute;
    top: 0px;
    left: 0px;
}